<div class="box-body">
    <div class="table-responive">
        <table class="table table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Mês</th>
                    <th>Ano</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bc in bcCtrl.billingCycles">
                    <td>{{bc.name}}</td>
                    <td>{{bc.month}}</td>
                    <td>{{bc.year}}</td>
                    <td class="table-actions">
                        <button class="btn btn-warning" ng-click="bcCtrl.showTabUpdate(bc)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger" ng-click="bcCtrl.showTabDelete(bc)"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="box-footer clearfix">
            <paginator url="/#!/billingCycle" pages="{{bcCtrl.pages}}"></paginator>
        </div>
    </div>
</div>